.interview-card {
    border: 2px solid black;
    border-radius: 12px;
    width: 300px;
    height: 400px;
    margin: 20px;
    padding: 5px;
    cursor: pointer;
}

.interview-card h3 {
    font-size: 30px;
    text-align: center;
    width: 100%;
}
.interview-card h5 {
    font-size: 20px;
}

.center-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
}